@import "tailwindcss";

:root {
  --font-inter: 'Inter', sans-serif;
  --font-vazirmatn: 'Vazirmatn', sans-serif;
}

[lang="fa"],
.font-fa {
  font-family: var(--font-vazirmatn), sans-serif;
  direction: rtl;
}
